.booking-body {
  width: 50%;
  margin: 50px auto;
  text-align: center;
}

.booking-card-grid{
  margin: 10px auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex: 1;
}

.booking-card{
  margin: 10px;
  width: 300px;
}

.card-create-booking {

  input {
    margin: 20px;
  }
}

button, mat-form-field {
  margin: 10px;
}
